vigion.cloud, www.vigion.cloud {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    X-Content-Type-Options "nosniff"
    -Server
  }

  handle /api/* {
    reverse_proxy api:3000
  }

  handle {
    reverse_proxy web:80
  }
}
